@font-face {
  font-family: "Gemerald Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Gemerald Regular"),
    url("/Assets/Fonts/gemerald-webfont/Gemerald.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
}
body {
  width: 100%;
  font-family: "Gemerald Regular";
}
ul {
  list-style: none;
  display: inline-flex;
}
a {
  text-decoration: none;
  color: #fff;
}
header {
  background-color: #000f08;
  width: 100%;
  height: 125px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  .navigation {
    display: inline-flex;
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
    .logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      flex-basis: 25%;
      .logo--text {
        font-size: 20px;
        color: #88d498;
        text-align: center;
      }
      @media (min-width: 480px) and (max-width: 768px) {
        .logo--text {
          font-size: 15px;
        }
      }
    }
    @media (min-width: 480px) and (max-width: 768px) {
      .logo {
        width: 112px;
        height: 50px;
        padding-top: 20px;
        padding-bottom: 22px;
      }
    }
    .nav {
      flex-basis: 50%;

      display: flex;
      align-items: center;
      justify-content: space-between;

      .list {
        display: inline-flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        .list--item {
          display: flex;
          font-size: 30px;
          color: #88d498;
        }

        @media (min-width: 480px) and (max-width: 768px) {
          .list--item {
            font-size: 15px;
          }
        }
      }
      @media (min-width: 480px) and (max-width: 768px) {
        .list {
          gap: 2px;
          flex-wrap: wrap;
          width: 202px;
        }
      }
    }
    .time--block {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-basis: 25%;
      .time--text {
        color: #88d498;
        font-size: 25px;
        padding-left: 5%;
        .time--text--span {
          font-size: 20px;
        }
      }
    }
    @media (min-width: 480px) and (max-width: 768px) {
      .time--block {
        width: 111px;
        height: 32px;
        padding-top: 26px;
        .time--text {
          font-size: 15px;
          .time--text--span {
            font-size: 8px;
          }
        }
      }
      .time--image {
        height: 32px;
        width: 25px;
      }
    }
  }
}
main {
  width: 100%;
  background-color: #c6dbf0;
  .services--section {
    width: 100%;
    .services--title {
      text-align: center;
      font-size: 60px;
    }
    @media (min-width: 480px) and (max-width: 768px) {
      .services--title {
        font-size: 30px;
      }
    }
    .services--subtitle {
      font-size: 40px;
      padding-top: 1%;
      text-align: center;
    }
    @media (min-width: 480px) and (max-width: 768px) {
      .services--subtitle {
        padding-top: 3%;
        font-size: 20px;
      }
    }
    .services--block {
      display: flex;
      margin-top: 5%;
      margin-left: 1%;
      margin-right: 1%;
      @media (min-width: 480px) and (max-width: 768px) {
        .services--block--image1 {
          width: 215px;
          height: 285px;
        }
      }
      @media (min-width: 480px) and (max-width: 768px) {
        .services--block--image2 {
          width: 170px;
          height: 116px;
        }
      }
      @media (min-width: 480px) and (max-width: 768px) {
        .services--block--image3 {
          width: 170px;
          height: 116px;
        }
      }
      .services--info {
        text-align: center;
        .ser--block--text {
          font-size: 25px;
        }
        @media (min-width: 480px) and (max-width: 768px) {
          .ser--block--text {
            font-size: 8px;
            padding-left: 2%;
          }
        }
        .services--list {
          font-size: 25px;
          padding-left: 3%;
        }
        @media (min-width: 480px) and (max-width: 768px) {
          .services--list {
            font-size: 8px;
            padding-left: 7%;
          }
        }
        .services--list li {
          padding-top: 2%;
        }
      }
    }
    .services--activities {
      padding-left: 5%;
    }
  }
  .ser--info--title {
    vertical-align: middle;
    font-size: 35px;
    padding: 1% 1%;
    margin-bottom: 2%;
    margin-top: 1%;
    justify-self: center;
    background-color: #88d498;
    color: #fff;
    text-align: center;
  }
  @media (min-width: 480px) and (max-width: 768px) {
    .ser--info--title {
      font-size: 15px;
      margin-bottom: 15%;
    }
    .ser--info--title3 {
      margin-bottom: 5%;
    }
  }
  .services--footer--title {
    font-size: 20px;
    color: #136f63;
    margin-left: 1%;
  }
  @media (min-width: 480px) and (max-width: 768px) {
    .services--footer--title {
      font-size: 15px;
    }
  }
  .services--footer--list {
    display: block;
    margin-left: 1%;
    font-size: 20px;
  }
  @media (min-width: 480px) and (max-width: 768px) {
    .services--footer--list {
      font-size: 8px;
    }
  }
  .services--duration {
    margin-left: 1%;
    font-size: 20px;
  }
  @media (min-width: 480px) and (max-width: 768px) {
    .services--duration {
      font-size: 10px;
      padding-bottom: 20px;
    }
  }
  .services--cost {
    color: #136f63;
  }
}
footer {
  width: 100%;
  height: 280px;
  background-color: #000f08;
  .footer--content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    .content--item {
      flex-basis: 30%;
      padding-top: 3%;
      justify-content: center;
      .item--header {
        font-size: 20px;
        color: #fff;
        text-align: center;
      }
      @media (min-width: 480px) and (max-width: 768px) {
        .item--header {
          font-size: 10px;
        }
      }
      .item--img-text {
        display: flex;
        align-items: center;
        padding-top: 3%;
        margin-left: 36%;
        .item--img--text {
          color: #88d498;
          padding-left: 2%;
        }

        @media (min-width: 480px) and (max-width: 768px) {
          .item--img--text {
            font-size: 8px;
          }
        }
      }
      @media (min-width: 480px) and (max-width: 768px) {
        .item--img-text {
          width: 62px;
          height: 24px;
          margin-left: 20%;
          padding-top: 5%;
          gap: 5px;
        }
        .item--img-text img {
          width: 62px;
          height: 20px;
        }
      }
    }
    .item--tickets--info {
      align-items: center;
      padding-top: 4%;
      margin-left: 40%;
      .item--link {
        color: #88d498;
        font-size: 16px;
      }
      @media (min-width: 480px) and (max-width: 768px) {
        .item--link {
          font-size: 8px;
        }
      }
      .tickets--text {
        color: #88d498;
        padding-top: 8%;
        font-size: 16px;
      }
      @media (min-width: 480px) and (max-width: 768px) {
        .tickets--text {
          font-size: 8px;
        }
      }
    }
    @media (min-width: 480px) and (max-width: 768px) {
      .item--tickets--info {
        margin-left: 30%;
      }
    }
    .item--social-net {
      justify-content: center;
      padding-top: 3%;
      display: flex;
      gap: 25px;
    }
    @media (min-width: 480px) and (max-width: 768px) {
      .item--social-net img {
        height: 24px;
        width: 24px;
      }
    }
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  footer {
    height: 150px;
  }
}
